# Module 2 Exercises - Explore Data

### Exercise 1:
Use the pandas library to read in the file "travel-times.csv" as a dataframe. Set the dataframe's variable name as "travel_df".

*Note*: Download the file from [here](https://notebooks.azure.com/priesterkc/projects/DABmaterial/tree/Lv1%20Data%20Analytics/datasets).

In [5]:
import pandas as pd
location="datasets_travel_times.csv"
traveldf=pd.read_csv(location)

In [7]:
traveldf.head()

,Date,StartTime,DayOfWeek,GoingTo,Distance,MaxSpeed,AvgSpeed,AvgMovingSpeed,FuelEconomy,TotalTime,MovingTime,Take407All,Comments
0,1/6/2012,16:37,Friday,Home,51.29,127.4,78.3,84.8,NaN,39.3,36.3,No,NaN
1,1/6/2012,08:20,Friday,GSK,51.63,130.3,81.8,88.9,NaN,37.9,34.9,No,NaN
2,1/4/2012,16:17,Wednesday,Home,51.27,127.4,82.0,85.8,NaN,37.5,35.9,No,NaN
3,1/4/2012,07:53,Wednesday,GSK,49.17,132.3,74.2,82.9,NaN,39.8,35.6,No,NaN
4,1/3/2012,18:57,Tuesday,Home,51.15,136.2,83.4,88.1,NaN,36.8,34.8,No,NaN

### Exercise 2:

Use the pandas library to read in the file "income_expenses.xlsx" as a dataframe. Set the dataframe's variable name as "expense_df".

*Note*: Download the file from [here](https://notebooks.azure.com/priesterkc/projects/DABmaterial/tree/Lv1%20Data%20Analytics/datasets).

In [13]:

location="datasets_income_expenses.xlsx"
expense_df=pd.read_excel(location)

### Exercise 3:
Using the lists in the cell below, write code that will zip up the lists and make them into one list, then turn it into a dataframe. Next, export the dataframe as a csv file. Then try exporting the dataframe as an Excel file.

In [17]:
shoe = ['Nike','Adidas','New Balance','Puma','Reebok']
price = [176,59,47,38,99]

shoeList = list(zip(shoe,price))

df = pd.DataFrame(data = shoeList, columns=['Names','price'])
df.to_csv('pricecode.csv',index=False,header=False)

In [18]:
df.head()

         Names  price
0         Nike    176
1       Adidas     59
2  New Balance     47
3         Puma     38
4       Reebok     99

### Exercise 4:

What columns are in the travel_df dataframe? What columns are in the expense_df dataframe?

In [38]:
traveldf.columns

Index(['Date', 'StartTime', 'DayOfWeek', 'GoingTo', 'Distance', 'MaxSpeed',
       'AvgSpeed', 'AvgMovingSpeed', 'FuelEconomy', 'TotalTime', 'MovingTime',
       'Take407All', 'Comments'],
      dtype='object')

In [20]:
expense_df.columns

Index(['Income Range', 'Category', 'Amount', 'Class_level'], dtype='object')

### Exercise 5:

Using the expense_df dataframe, sum the expense amount using the group_by function by income range.

In [23]:
expense_df['Amount'].groupby(expense_df['Income Range']).sum()

Income Range
$100-200      139.10
$1000+       1125.00
$200-300      249.45
$300-400      335.68
$400-500      433.82
$500-750      557.00
$750-1000     880.00
Name: Amount, dtype: float64

### Exercise 6:

Using the travel_df dataframe and pivot_table function, get the average total time by day of the week and direction traveled (Home/GSK).

In [33]:
pd.pivot_table(traveldf, values=['TotalTime'],index=['DayOfWeek'])

           TotalTime
DayOfWeek
Friday     37.922222
Monday     43.197436
Thursday   41.177273
Tuesday    42.520833
Wednesday  43.170213

### Exercise 7:

Choose either the travel_df or expense_df and do some exploratory analysis.

In [39]:
traveldf['TotalTime'].mean()

41.90439024390244